MERGE INTO [dbo].[Regions] AS target
USING (VALUES
    (1, N'North America'),
    (2, N'Europe'),
    (3, N'Asia Pacific'),
    (4, N'South America')
) AS source ([RegionID], [RegionName])
ON target.[RegionID] = source.[RegionID]
WHEN MATCHED THEN
    UPDATE SET [RegionName] = source.[RegionName]
WHEN NOT MATCHED THEN
    INSERT ([RegionID], [RegionName])
    VALUES (source.[RegionID], source.[RegionName]);
